## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [240]:
import pandas as pd

In [241]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [242]:
data.drop_duplicates(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  object
 2   fnlwgt          32537 non-null  int64
 3   education       32537 non-null  object
 4   education-num   32537 non-null  int64
 5   marital-status  32537 non-null  object
 6   occupation      32537 non-null  object
 7   relationship    32537 non-null  object
 8   race            32537 non-null  object
 9   sex             32537 non-null  object
 10  capital-gain    32537 non-null  int64
 11  capital-loss    32537 non-null  int64
 12  hours-per-week  32537 non-null  int64
 13  native-country  32537 non-null  object
 14  salary          32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [243]:
data.sex.unique()

array(['Male', 'Female'], dtype=object)

In [244]:
len(data)

32537

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [245]:
data.age[data.sex == 'Male'].mean()

39.43605051664753

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [246]:
len(data[data['native-country'] == 'United-States'])/len(data)*100

89.59953283953654

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [247]:
mean, std = data.age[data.salary == '>50K'].agg(['mean', 'std'])
print(mean)
print(std)

44.25092486286516
10.520102088156465

In [248]:
mean, std = data.age[data.salary == '<=50K'].agg(['mean', 'std'])
print(mean)
print(std)

36.78739169163495
14.017334627959265

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [249]:
high_edu = set(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])
set(data.education[data.salary == '>50K'].unique()).issubset(high_edu)

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [250]:
table = data.groupby(['race', 'sex']).age.describe()
table

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      692.0  39.000000  12.746669  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1567.0  37.699426  12.880714  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8633.0  36.819646  14.331045  17.0  25.0  35.0
                   Male    19162.0  39.656560  13.436249  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [251]:
table.loc[('Asian-Pac-Islander', 'Male')].loc['max']

90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [252]:
mar_count = len(data[(data.sex == 'Male') & (data.salary == '>50K') & (data['marital-status'].str.contains('Married'))])
non_mar_count = len(data[(data.sex == 'Male') & (data.salary == '>50K')]) - mar_count
print(mar_count, non_mar_count)
print('Married are more')

5963 697
Married are more

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

Какой человек? конкретный или в общем? Каждый человек не имеет выбора в часах, есть только 1 колонка и одно значение

In [253]:
max_hours = data['hours-per-week'].max()
max_hours

99

In [254]:
how_many_people = len(data[data['hours-per-week'] == max_hours])
how_many_people

85

In [255]:
per = len(data[(data['hours-per-week'] == max_hours) & (data.salary == '>50K')]) / how_many_people * 100
per

29.411764705882355

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

1. Страну под названием "?" нужно считать null или оставить ее в покое?
2. Если значения данных - "?" считать ли это за null и обработать это?

In [256]:
table = data.groupby(['native-country', 'salary']).mean()['hours-per-week']
table

native-country  salary
?               <=50K     40.165138
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505789
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [257]:
import numpy as np

conditions = [
    (data.age >= 16) & (data.age < 35),
    (data.age >= 35) & (data.age < 70),
    (data.age >= 70) & (data.age <= 100)
]
values = ['young', 'adult', 'retiree']
data['AgeGroup'] = np.select(conditions, values)
data[['age', 'AgeGroup']]

       age AgeGroup
0       39    adult
1       50    adult
2       38    adult
3       53    adult
4       28    young
...    ...      ...
32556   27    young
32557   40    adult
32558   58    adult
32559   22    young
32560   52    adult

[32537 rows x 2 columns]

In [260]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary', 'AgeGroup'],
      dtype='object')

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [300]:
table = data[data.salary == '>50K'].groupby('AgeGroup').count()['age'].to_frame()
table

           age
AgeGroup
adult     6238
retiree    113
young     1488

In [307]:
table.index[table.age == table.age.max()].tolist()

['adult']

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [326]:
table = data.groupby('occupation').count()['age'].to_frame()
table.rename(columns = {'age':'count'}, inplace=True)
table

                   count
occupation
?                   1843
Adm-clerical        3768
Armed-Forces           9
Craft-repair        4094
Exec-managerial     4065
Farming-fishing      992
Handlers-cleaners   1369
Machine-op-inspct   2000
Other-service       3291
Priv-house-serv      147
Prof-specialty      4136
Protective-serv      649
Sales               3650
Tech-support         927
Transport-moving    1597

In [346]:
def filter_func(df: pd.DataFrame):
    return df.occupation[(df.age >= 40) & (df['hours-per-week'] > 5)].unique()

In [347]:
a = filter_func(data)
print(a, type(a))

['Exec-managerial' 'Handlers-cleaners' 'Other-service' 'Craft-repair'
 'Prof-specialty' 'Transport-moving' 'Tech-support' '?'
 'Machine-op-inspct' 'Adm-clerical' 'Sales' 'Protective-serv'
 'Farming-fishing' 'Priv-house-serv' 'Armed-Forces'] <class 'numpy.ndarray'>

жалко удалять ...

In [338]:
def filter_func(df: pd.DataFrame)->list:
    groups = []
    for group in table.index:
        for i in range(len(df)):
            if (df.occupation.iloc[i] == group) & \
                    (df.age.iloc[i] <= 40) & \
                    (df['hours-per-week'].iloc[i] > 5):

                groups.append(group)
    return groups

In [340]:
a = filter_func(data)
set(a)

{'?',
 'Adm-clerical',
 'Armed-Forces',
 'Craft-repair',
 'Exec-managerial',
 'Farming-fishing',
 'Handlers-cleaners',
 'Machine-op-inspct',
 'Other-service',
 'Priv-house-serv',
 'Prof-specialty',
 'Protective-serv',
 'Sales',
 'Tech-support',
 'Transport-moving'}